.gardient-bg {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);    
}

.small-font {
    font-size: x-small;
}

.smaller-font {
    font-size: xx-small;
}

.no-decoration {
    text-decoration: none;
}

.span-space {
    display: block;
}