.dark-bg {
    background-color: #16171d;
}

.rand-bg {
    margin-top: 200px;
}

.small-font {
    font-size: x-small;
}

.smaller-font {
    font-size: xx-small;
}

.no-decoration {
    text-decoration: none;
    color: skyblue;
}

.no-decoration-pure {
    text-decoration: none;
    color: #f4f1d0;
}

.no-decoration-pure:hover {
    color: #919193;
}

.anti-white {
    color: #f4f1d0;
}

.anti-white-a {
    color: #919193;
}

.anti-white-a:hover {
    color: #f4f1d0;
}

.span-space {
    display: block;
}

.zoom-hover {
    transition: 0.4s;
}

.zoom-hover:hover {
    transform: scale(0.95);
}

.card-grid {
    display: grid;
}

.card-thumbnail {
    display: grid;
    grid-template-rows: 4fr 4fr 1fr;
}

.card-thumbnail>div:first-child, .card-thumbnail-visitor>div:first-child {
    border-radius: 2% 2% 0 0;
}

.card-thumbnail-visitor {
    display: grid;
    grid-template-rows: 4fr 4fr;
}

.fill-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.set-img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
}

